altgraph
ansicon
atomicwrites
attrs
blessed
colorama
future
iniconfig
jinxed
mock
packaging
parso
pefile
pluggy
py
pyinstallerpyinstaller-hooks-contrib
pyparsing
pytest
pywin32pywin32-ctypes
six
toml
tornadotraitlets
wcwidth
