altgraph==0.17.2
ansicon==1.89.0
atomicwrites==1.4.0
attrs==21.2.0
blessed==1.19.0
colorama==0.4.4
future==0.18.2
iniconfig==1.1.1
jinxed==1.1.0
mock==4.0.3
packaging==21.3
parso==0.8.2
pefile==2021.9.3
pluggy==1.0.0
py==1.11.0
pyinstaller==4.6
pyinstaller-hooks-contrib==2021.3
pyparsing==3.0.6
pytest==6.2.5
pywin32==302
pywin32-ctypes==0.2.0
six==1.16.0
toml==0.10.2
tornado==6.1
traitlets==5.1.1
wcwidth==0.2.5
