altgraph
ansicon
atomicwrites
attrs
blessed
colorama
future
iniconfig
jinxed
mock
packaging
parso
pefile
pluggy
py
pyinstaller
pyinstaller-hooks-contrib
pyparsing
pytest
pywin32
pywin32-ctypes
six
toml
tornado
traitlets
wcwidth
